* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray-500: #3c8067;
  --gray-700: #1b4133;
  --black: #1c232b;
  --grey: #6c7289;
  --cream: #f2ebe3;
  --white: #ffffff;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;

  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  background: var(--cream);
  color: var(--grey);
  padding: 0 1rem;
}

.img-mobile {
  display: none;
}

.card-product {
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 1rem;
}

.content {
  display: flex;
  height: 496px;
}

.content-description {
  width: 100%;
  background: var(--white);
  max-width: 350px;
  display: flex;

  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
}

.content-description .product-label {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content-description .product-title {
  font-family: "Fraunces", serif;
  font-size: 2.5rem;
  line-height: 1;
  color: var(--black);
}

.price {
  font-family: "Fraunces", serif;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.price h3 {
  color: var(--gray-500);
  font-size: 2rem;
}

.price span {
  text-decoration: line-through;
}

.add-to-cart {
  background: var(--gray-500);
  color: var(--white);
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  gap: 0.5rem;
  padding: 1.2rem;
  cursor: pointer;
  transition: 0.3s all;
  border-radius: 8px;
}

.add-to-cart:hover {
  background: var(--gray-700);
}

.product-description {
  width: 100%;
  max-width: 260px;
  line-height: 1.3;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 674px) {
  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .content {
    flex-direction: column;
    width: 350px;
    height: auto;
  }

  .content-description {
    padding: 1rem;
  }

  .content-description .product-title {
    font-size: 2rem;
  }

  .price {
    margin: 0;
  }
}
