* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Figtree";
  src: url(../assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Figtree Italic";
  src: url(../assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Figtree Extra-Bold";
  src: url(../assets/fonts/static/Figtree-ExtraBold.ttf);
}

@font-face {
  font-family: "Figtree Medium";
  src: url(../assets/fonts/static/Figtree-Medium.ttf);
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: #fff;
  --gray-500: #6b6b6b;
  --gray-950: #121212;
}

body {
  background: var(--yellow);
  display: flex;
  height: 100vh;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Figtree;
}

.card {
  background: var(--white);
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 8px 8px 0px #121212;
  margin-bottom: 2rem;
}

.card__img {
  width: 100%;
  border-radius: 1rem;
}

.card__tag {
  background: var(--yellow);
  font-weight: bold;
  padding: .3rem .5rem;
  font-size: 12px;
  border-radius: 5px;
}

.card__date {
  font-size: 11px;
}

.card__title {
  font-size: 1.5rem;
  font-family: Figtree Extra-Bold;
}

.card__description {
  font-size: 15px;
  color: var(--gray-500);
  margin-bottom: 5px;
}

.card__profile {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.card__profile .profile__img {
  width: 35px;
  height: 35px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
